
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.development
.env.production
.env.test

dist/
build/
out/

logs/
*.log

pids/
*.pid
*.seed
*.pid.lock

coverage/
.nyc_output/

dump/
backups/
*.gz
*.archive
*.zip

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln